/*
Theme Name: Saved Child
Description: A child theme for Saved.
Author: Taylor Bills
Version: 1.0
Template: saved
*/

/*
This stylesheet is loaded instead of the parent theme's stylesheet, which is enqueued in functions.php.
To override styles, copy them here from the original stylesheet, then change the properties.

See http://churchthemes.com/guides/developer/child-theming/ and the WordPress Codex:
http://codex.wordpress.org/Child_Themes
*/

#saved-logo {
    display: none;
}

#saved-header-top {
    position: static;
}

#header-image-outer {
    background-image: linear-gradient(rgb(26, 47, 90), rgb(36, 84, 160));
    height: 120px;
}

#header-image {
    align-items: center;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;

    max-width:1170px;
    height: inherit;
}

#header-text-left {
    float: left;
    padding-top: 15px;
    height: 100px;
}

#header-text-right {
    float: right;
    padding-top: 15px;
    height: 100px;
}

#saved-header-menu {
    padding-left: 0px;
}

#saved-header-menu-content > li:first-of-type {
    margin-left: 0px;
}

@media only screen and (max-width: 834px) {
    #header-image {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    #header-text-left {
        float: none;
    }

    #header-text-right {
        display: none;
        /*don't display the 'right' image if too small to fit both.*/
    }
}

@media only screen and (max-width: 700px) {
    #saved-logo {
        display: block;
    }

    #header-image-outer {
        display: none;
    }
}

@media only screen and (max-width: 1300px) {
    #header-image {
        max-width: 88% !important;
    }
}
